.without-login{

}
.login{
  display: none; 
}
.wrongInput{
    border-color: red;
}
.rightInput{
    border-color: green;
}

.dashboard-card-row{
    margin-bottom: 5% ;

}

.live-counter-divider{
    border-right: 1px solid gray;
    width: 1px;
}

.live-counter{

    margin-bottom: 3%;
    font-family: "Courier New", Courier, monospace;
}

.live-counter-numbers{
    font-size: 30px;
    font-weight: bold;
    color: grey;
    margin-left: 12px;
    vertical-align: sub;
}

.card-cursor{
    cursor: pointer;
}


.shadow{
    box-shadow:   0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}

.shadow-nohover{
    box-shadow:   0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}

.shadow:hover{
    box-shadow:   0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.form-group-padding{
    padding: 20px;
}

.center-div{
    position:fixed;
    top: 50%;
    left: 40%;
    width:50% ;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.alert{
    letter-spacing: 1px !important; 
}



.notification-item {
    position:relative;
    display:inline-block;
    margin-right: 50px;
}
.notification-badge{
    position: absolute;
    right:-14px;
    background:whitesmoke;
    text-align: center;
    border-radius: 50px;
    color:black;
    font-weight: bold;
    padding:2px 8px;
    font-size:10px;
}