.without-login{
    display: block; 
}
.login{
    display: block; 
}
.wrongInput{
    border-color: red;
}
.rightInput{
    border-color: green;
}

.dashboard-card-row{
    margin-bottom: 5% ;

}

.live-counter-divider{
    border-right: 1px solid gray;
    width: 1px;
}

.live-counter{

    margin-bottom: 3%;
    font-family: "Courier New", Courier, monospace;
}

.live-counter-numbers{
    font-size: 30px;
    font-weight: bold;
    color: grey;
    margin-left: 12px;
    vertical-align: sub;
}

.card-cursor{
    cursor: pointer;
}


.shadow{
    box-shadow:   0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}

.shadow-nohover{
    box-shadow:   0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}

.shadow:hover{
    box-shadow:   0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}

.form-group-padding{
    padding: 20px;
}

.center-div{
    position:fixed;
    top: 50%;
    left: 40%;
    width:50% ;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.alert{
    letter-spacing: 1px !important; 
}



.notification-item {
    position:relative;
    display:inline-block;
    margin-right: 50px;
}
.notification-badge{
    position: absolute;
    right:-14px;
    background:whitesmoke;
    text-align: center;
    border-radius: 50px;
    color:black;
    font-weight: bold;
    padding:2px 8px;
    font-size:10px;
}


.statistics{
    font-family: "Comic Sans MS", cursive, sans-serif;
}


.statistics table {
    border-collapse: inherit !important;
    font-size: 15px;
    border: none;
}

.statistics table tbody tr td{
    border: none;
}


#searchBar{
    background: url(../Resources/magnifier.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}


.employeeCard .card{
    margin: 15px;
    transition: all .2s ease-in-out;
}


.employeeCard .card:hover{
    transform: scale(1.05);
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


.employeeCard .card .card-header h5 button{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.employeeCard .card .card-header h5 div button{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important

}

.employeeImage{

    min-height: 140px;
    max-height: 140px;
    width: 140px;
    margin-left: 60px;

}

.employeeDetails-NonEditable input{
    outline: none !important;
    border: none !important;
    pointer-events: none !important;
}

.employeeDetails-NonEditable textArea{
    outline: none !important;
    border: none !important;
    pointer-events: none !important;
}


.employeeDetails-NonEditable select{
    outline: none !important;
    border: none !important;
    pointer-events: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}




.requestCard .card-header {

    color: white !important;
    font-weight: 400 !important;
    letter-spacing: 1px;
}

.requestBody{
    text-align: justify;
    font-size: 1.1em;
    padding: 10px;
}


.pending{
    background-color: #dc3535bd !important;
}

.read{
    background-color: #ffc107c7 !important;
}

.responded{
    background-color: #28a745 !important;
}

.replyCard{
    padding: 8px;
}

.replyCard textArea{
    font-size: 18px;
}


.attendanceCard .card-header{
    color: white;
    background-color: #017afbcf;
}

.attendanceCard .card-body{
    text-align: center;
}

.employeeAttendance {
    text-align: center;
}

.employeeNameDisplay{
    font-size: 2.5rem !important;
    line-height: 1.2 !important; 
    font-weight: 300;

}

.profilePicture{
    width: 10% !important;
}

.hidden{
    display: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media print{
    #controlButton{
        display: none !important;
    }
}
